<%= form_for(@locale_file ,:html=>{:multipart=>true}) do |f| %>
  <% if @locale_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locale_file.errors.count, "error") %> prohibited this locale_file from being saved:</h2>

      <ul>
      <% @locale_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset %><br />
    <%= f.file_field :asset %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :organization %><br />
    <%= f.select :organization_id, Organization.all.collect{|e| [e.name,e.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
