<p id="notice"><%= notice %></p>



<p>
  <b>File:</b>
  <%= @locale_file.asset %>
</p>

<p>
  <b>Name:</b>
  <%= @locale_file.name %>
</p>

<p>
  <b>Locale:</b>
  <%= @locale_file.locale %>
</p>


<p>
  <b>Organization:</b>
  <%= @locale_file.organization.name if @locale_file.organization %>
</p>


<%= link_to 'Edit', edit_locale_file_path(@locale_file) %> |
<%= link_to 'Back', locale_files_path %>
