-# encoding: utf-8
.box
  %h2
    Traduzione File
    =@locale_file.name
    %strong=@locale_file.locale
  %p
    Completa le traduzioni mancanti e salva il file. 
    Nel caso di testo Markup è possibile utilizzare un editor visuale.
  %p
    %strong.red
      %span{:style=>"color:red"}Attenzione: 
      le stringe contenute tra %{...} sono variabili, se vengono trovate nella lingua originale vanno mantenute senza tradurle.
      %br
      a.e.: %{model} in italiano --> %{model} in inglese  

  = form_for @locale_file, :as => :locale, :url =>translate_locale_file_url, :html => { :method=>:post,:class => "new_post", :id => "new_post" } do |f| 
    =f.submit "Salva il file" ,:class=>"button"
    %table{:class=>"base_table"}
      %tr
        %th
          =@locale_file.organization.locales
        %th
          =@locale_file.locale
      -@yaml_from.each do |k,v|
        -id_k=k.split(".").join("_")
        %tr
          %th.key= k
          %th
         
        %tr
          %td.text= raw v
          %td{:class=>"form #{'form_big' if v.size > 160 }"}= text_area_tag "translate_file[#{k}]",@yaml_to[k],{:rows=>"18",:cols=>"10",:id=>"#{id_k}",:class=>"ckeditor_opt"}
        -if v.match /<\/?[^>]*>/
          =#link_to "editor" , "#",{:onclick=> "var h=$('##{id_k}').height();CKEDITOR.replace( '#{id_k}',{height: h} );return false;",:class=>"button"}
          =#link_to "close_editor" , "#",{:onclick=>"CKEDITOR.instances['#{id_k}'].destroy();return false;",:class=>"button"}
          %script{:type=>"text/javascript"}
            $(function() {
            =raw "var h=$('##{id_k}').height();"
            =raw "CKEDITOR.replace('#{id_k}',{height: h} );"
            });
    =f.submit "Salva il file",:class=>"button"


          


  