<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Locales:</b>
  <%= @organization.locales %>
</p>

<p>
  <b>Active:</b>
  <%= @organization.active %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
